<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand text-success custom-anchor"
      href="#"
      >Swag</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <!--offcanvas body-->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active custom-anchor"
              href="#"
              >admin</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Men</a></li>
              <li><a class="dropdown-item" href="#">Women</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">About us</a></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
            </ul>
          </li>
        </ul>
        <!--buttons-->
        <section class="d-flex my-2 w-100, justify-content-between">
            {% if session["username"] %}
            <button 
              class="btn btn-success"
              hx-get="/admin/dashboard"
              hx-target="#root"
              hx-swap="innerHTML"
              hx-trigger="click"
            >Dashboard</button>
            <button 
              id="logout-button"
              class="btn btn-danger"
              hx-get="/logout"
              hx-target="#root"
              hx-swap="innerHTML"
              hx-trigger="click"
              >Log out</button>
          {% endfor %}
            
        </section>
      </div>
    </div>
  </div>
</nav>
<main id="admin-dashboard-main" class="app__main admin-dashboard__main">
  
  <section class="admin-dashboard__users-list-section">

  </section>

</main>
