<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand text-success custom-anchor"
      href="#"
      >Swag</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <!--offcanvas body-->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active custom-anchor"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Men</a></li>
              <li><a class="dropdown-item" href="#">Women</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">About us</a></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
            </ul>
          </li>
        </ul>
        <!--buttons-->
        <section class="d-flex my-2 w-100, justify-content-between">
            {% if session["username"] %}
            <button 
              class="btn btn-success"
              hx-get="/dashboard"
              hx-target="#root"
              hx-swap="innerHTML"
              hx-trigger="click"
            >Dashboard</button>
            <button 
              id="logout-button"
              class="btn btn-danger"
              hx-get="/logout"
              hx-target="#root"
              hx-swap="innerHTML"
              hx-trigger="click"
              >Log out</button>
            {% else %}
            <button 
              class="btn btn-success"
              hx-get="/login"
              hx-target="#root"
              hx-swap="innerHTML"
              hx-trigger="click"
            >Log in</button>
            <button 
              class="btn btn-outline-success"
              hx-get="/signup"
              hx-target="#root"
              hx-swap="innerHTML"
              hx-trigger="click"
              >Sign up</button>
            {% endif %}
        </section>
      </div>
    </div>
  </div>
</nav>
<main id="home-main" class="app__main home__main">
  

  <section class="home__hero-section">

    <section class="home-hero__cards-section">
   
      {% for card in cards  %}
        <div class="card custom-card">
          <img src="{{ card["img_url"] }}" class="card-img-top" alt="{{ card["img_alt"]}}">
          <div class="card-body">
            <h5 class="card-title">{{ card["title"] }}</h5>
            <p class="card-text">{{ card["description"][0:100]}}...</p>
            <button data-id="{{card["id"]}}" class="btn btn-outline-success">Show</button>
          </div>
        </div>
      {% endfor %}

    <section>


  </section>

</main>
