{% extends "base.html" %} {% block custom_root_content %}

<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand text-success custom-anchor"
      hx-get="/home"
      hx-trigger="click"
      hx-target="#root"
      hx-swap="outerHTML"
      >Swag</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <!--offcanvas body-->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active custom-anchor" href="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Men</a></li>
              <li><a class="dropdown-item" href="#">Women</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">About us</a></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
            </ul>
          </li>
        </ul>
        <!--buttons-->
        <section class="d-flex my-2 w-100, justify-content-between">
          <button class="btn btn-outline-success">Sign up</button>
        </section>
      </div>
    </div>
  </div>
</nav>

<!--login main-->
<main id="login-main" class="app__main login__main">
  <section class="login__form-section">
    <form 
        hx-post="/auth/login"
        hx-target="#root"
        hx-swap="outerHTML"
        hx-trigger="submit"
    >
      <div class="mb-3">
        <label for="email" class="form-label text-light">Email address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-light">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" name="keep-connection" class="form-check-input" id="keep-connection" />
        <label class="form-check-label text-light" for="keep-connection">Stay logged in</label>
      </div>
      <button 
        type="submit" 
        class="btn btn-success"
      >Submit</button>
    </form>
  </section>
</main>

{% endblock custom_root_content %}
