.app__main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/3965545/pexels-photo-3965545.jpeg");
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.7);
}



.custom-anchor {
  &:hover {
    cursor: pointer;
  }
}

.landing__main,
.login__main,
.signup__main,
.dashboard__main,
.not-found__main,
.error__main {
  align-items: center;
  justify-content: center;
}

.admin-dashbard__main {
  flex-direction: column;
}

.home__main {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 10vh;
  padding-bottom: 100px;
}


.dashboard__main {
  background-color: rgba(0, 0, 0, 0.9);



  figure {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}


.dashboard__user-info-section {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-bottom: 100px;
    width: 100%;

}

.home__hero-section {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-hero__cards-section {
  display: flex;
  /*flex-direction:row*/
  justify-content: center;
  align-items: center;
  .custom-card {
    height: 500px;
    width: 300px;
    margin-right: 10px;

    p {
      word-break: break-all;
    }

    img {
      height: 300px;
      object-fit: cover;
    }
  }
}


.custom-error-card {
  width: 300px;
}




.dashboard__user-purchase-chart-section {
  margin-block: 30px;
 
}

.dashboard__chart {
  width: 500px;
}


.dashboard__main {

  .custom-card-text {
    display: flex;
    margin-inline:10px;
    width: max-content;
    align-items: center;
    
    i {
      margin-right: 10px;
    }
  }

  .custom-card-text-section {
    display: flex;
    margin-block: 20px;
  }
}

/* MEDIA QUERIES */




@media only screen and (max-width: 600px) {

  .dashboard__chart {
    width: 300px;
  }


  .dashboard__main {

    .custom-card {
      width: 300px;
    
    }
    .custom-card-text {
      display: flex;
      margin-inline:10px;
      width: max-content;
      align-items: center;

      
      i {
        margin-right: 10px;
      }
    }

    .custom-card-text-section {
      display: flex;

      align-items: center;
      justify-self: center;
      flex-direction: column;
    }
  }


  

  .home-hero__cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .custom-card {
      height: 800px;
      width: 90%;
      margin-right: 0px;
      margin-block: 10px;

      p {
        word-break: break-all;
      }

      img {
        height: 500px;
        object-fit: cover;
      }
    }
  }
}


